*.o
qrcode
*.swp
/QR-code-encoder-decoder.IAB
/QR-code-encoder-decoder.IAD
/QR-code-encoder-decoder.IMB
/QR-code-encoder-decoder.IMD
/QR-code-encoder-decoder.PFI
/QR-code-encoder-decoder.PO
/QR-code-encoder-decoder.PR
/QR-code-encoder-decoder.PRI
/QR-code-encoder-decoder.PS
